In [2]:
__author__ = 'maoting'

import pandas as pd
import numpy as np
import statsmodels.api as sm
import pylab as pl
from scipy import stats
from sklearn.externals.six import StringIO
from sklearn import preprocessing
from sklearn import cluster, tree, decomposition
import matplotlib.pyplot as plt
import pydot

In [3]:
# import csv file
sample = pd.read_csv('sample')

In [4]:
# set display right
pd.set_option('display.width', 4000)
pd.set_option('max_colwidth', 4000)
pd.set_option('max_rows', 100)
pd.set_option('max_columns', 200)
pd.set_option('float_format', '%.3f')

In [5]:
sample

       Unnamed: 0            date_time  site_name  posa_continent  user_location_country  user_location_region  user_location_city  orig_destination_distance  user_id  is_mobile  is_package  channel     srch_ci     srch_co  srch_adults_cnt  srch_children_cnt  srch_rm_cnt  srch_destination_id  srch_destination_type_id  is_booking  cnt  hotel_continent  hotel_country  hotel_market  hotel_cluster
0        24636210  2014-11-03 16:02:28         24               2                     77                   871               36643                    456.115   792280          0           1        1  2014-12-15  2014-12-19                2                  0            1                 8286                         1           0    1                0             63          1258             68
1        19837144  2013-03-13 19:25:01         11               3                    205                   135               38749                    232.474   961995          0           0        9  2013-03-13  2013-03-14                2                  0            1                 1842                         3           0    1                2            198           786             37
2        13066459  2014-10-13 13:20:25          2               3                     66                   314               48562                   4468.272   495669          0           1        9  2015-04-03  2015-04-10                2                  0            1                 8746                         1           0    1                6            105            29             22
3         4691082  2013-11-05 10:40:34         11               3                    205                   411               52752                    171.602   106611          0           0        0  2013-11-07  2013-11-08                2                  0            1                 6210                         3           1    1                2            198          1234             42
4         4878884  2014-06-10 13:34:56          2               3                     66                   174               50644                        NaN   596177          0           0        9  2014-08-03  2014-08-08                2                  1            1                12812                         5           0    1                2             50           368             83
5        34825186  2014-12-16 14:34:39          2               3                     66                   220               38273                     53.748   260938          0           0        9  2014-12-16  2014-12-17                2                  0            1                 3448                         3           0    1                2             50           582             54
6        24023139  2014-01-28 13:16:36          2               3                     66                   337               54287                    329.183   908558          0           0        2  2014-02-27  2014-03-01                2                  0            1                 8287                         1           1    1                2            198           400              6
7         8184643  2014-02-27 08:29:19         24               2                      3                    38                4999                        NaN  1161104          0           1        0  2014-07-16  2014-07-20                1                  0            1                 8856                         1           0    1                2             50           636              0
8        19270014  2014-12-15 10:44:33          2               3                    133                    20               41185                        NaN   560103          0           0        1  2014-12-17  2014-12-18                2                  0            1                 8226                         1           0    1                5            100          1446             46
9         3997603  2013-11-16 23:40:35          2               3                     66                   189               17017                   2284.910   748046          0           0        1  2014-01-10  2014-01-12                2                  1            1                12206                         6           0    1                2             50           628              1
10       33874233  2014-12-15 14:27:19         13               1                     46                   172               35989                    117.192   599440          0           1        9  2015-07-03  2015-07-05                2                  0            1                 2713                         3           0    3                6            144          1377             78
11        4644495  2014-02-14 12:52:48         28               1                     68                   480               24714                        NaN  1196773          0           1        0  2014-02-26  2014-03-02                2                  0            1                56041                         6           0    2                6            204          1479             61
12       20370892  2014-06-18 15:55:04          2               3                     66                   174               42881                    304.664    93433          0           0        9  2014-10-04  2014-10-05                2                  0            1                24284                         6           0    1                2             50           355             50
13       12548583  2014-04-09 06:40:49          2               3                    119                     0               27731                        NaN  1164644          0           0        9  2014-04-23  2014-04-24                2                  0            1                26232                         6           0    1                2            198           384             37
14       15848593  2014-10-13 07:35:45          2               3                     66                   448               30687                   3804.706   115147          1           1        2  2014-12-27  2015-01-02                1                  0            1                 8255                         1           0    1                6             77            20             11
15       11014217  2013-09-22 20:54:40         13               1                     46                   171               17439                   3920.340   353687          0           1        9  2013-11-29  2013-12-02                2                  0            1                 8267                         1           0    1                2             50           675             37
16       20483091  2014-05-15 16:54:42          2               3                     66                   174               16634                   7441.289   411402          1           0        9  2015-02-24  2015-02-27                2                  0            1                20896                         6           0    1                0             63          1258              9
17       35117924  2014-10-17 11:01:31          2               3                     12                   921               26044                        NaN    95283          0           0        9  2014-10-18  2014-10-19                2                  0            1                 8240                         1           0    6                6             79            16             59
18       25972771  2014-05-29 12:46:21          2               3                     66                   352               13586                   1386.868   440169          0           1        9  2014-07-20  2014-07-23                2                  2            1                 8279                         1           0    1                2             50          1230             69
19       32761844  2014-12-08 19:30:42          2               3                     66                   348                6782                        NaN   758292          1           0        2  2015-01-10  2015-01-11                2                  2            1                11361                         1           0    1                2             50           591             90
20       36422885  2014-05-29 10:37:53          2               3                     66                   392               44584                   5078.044   299988          0           1        5  2014-08-20  2014-08-26                2                  0            1                 8859                         1           0    4                2             50           212             55
21        8361367  2014-03-31 13:18:53         10               0                    182                   416               45866                   5172.864   471696          0           0        5  2014-04-24  2014-05-01                2                  0            1                 8824                         1           0    2                4              8           118             92
22        6402508  2013-02-21 17:07:44          2               3                     66                   189               19294                   4026.536   982283          0           0        9  2013-05-22  2013-05-25                4                  0            2                 8808                         1           1    1                6            169            28             46
23        9498272  2014-12-17 15:19:29          2               3                     66                   220               19416                    207.176   666812          1           0        9  2014-12-19  2014-12-21                2                  2            1                19543                         1           0    2                2             50           548             94
24          52982  2014-10-01 09:24:24          2               3                    179                   410               16634                        NaN   189722          0           0        3  2014-10-28  2014-10-30                2                  0            1                12057                         1           0    1                4            146          1517             22
25       19245560  2013-10-08 13:38:18         27               2                     46                   336               48498                   5474.610   501510          0           1        9  2014-01-11  2014-01-14                2                  0            1                 8220                         1           0    1                3            182            46             12
26       31515318  2014-01-09 20:38:39          2               3                     66                   220                2511                   1023.295   971616          0           0        9  2014-02-18  2014-02-21                2                  0            1                11569                         1           0    2                2             50           623             79
27       19562586  2013-07-09 22:08:42          2               3                    215                   788               20860                    149.068   166591          1           0        9  2013-07-12  2013-07-15                2                  0            1                 8787                         1           0    1                4              8           109             40
28       34917790  2014-12-01 16:46:14         34               3                    205                   354                2433                        NaN   576207          1           0        9  2014-12-01  2014-12-02                2                  0            1                14875                         1           0    1                2            198           750             32
29       24938030  2013-04-02 13:34:46          2               3                     66                   174               48505                        NaN   631966          0           0        9  2013-12-30  2014-01-02                2                  4            1                  885                         3           1    1                2             50           628             88
30       28803518  2014-04-22 17:27:29         24               2                      3                    83               22548                        NaN  1163110          0           0        9  2015-03-19  2015-03-25                1                  0            1                 8255                         1           0    1                6             77            20             15
31       24848115  2014-09-28 17:44:53         53               1                     69                   923                1268                        NaN   325995          0           0        3  2015-08-07  2015-08-13                2                  2            1                12263                         6           0    1                2             50           368             28
32       30191833  2014-07-14 13:11:49          2               3                     66                   220               43026                   1275.436  1142613          0           1        9  2014-07-23  2014-07-25                2                  2            1                 8811                         1           0    1                2            198           391             55
33       13375341  2014-11-24 11:44:32          2               3                     66                   184               11878                   1624.514   258017          0           1        0  2014-12-03  2014-12-05                1                  0            1                24902                         6           0    1                2             50           674             33
34       30471198  2013-02-11 00:47:39          8               4                     77                   977               43640                        NaN   619346          0           0        9  2013-03-12  2013-03-14                4                  1            2                12356                         5           0    1                3            182            46             77
35        8835508  2013-02-14 12:31:00          2               3                     66                   348               26037                   2149.978   815128          0           1        0  2013-02-24  2013-02-28                2                  0            1                 8272                         1           0    3                2             50           659              0
36        5328522  2014-02-12 08:56:59          2               3                    149                   290               33116                        NaN   549604          0           1        2  2014-04-17  2014-04-25                2                  0            1                 8253                         1           0    3                6             70            19             97
37       28584999  2013-10-27 01:05:57         34               3                    205                   135               36086                   2544.197   571427          0           1        9  2014-01-12  2014-01-19                2                  1            1                 8791                         1           0    1                4              8           110             34
38       12151581  2014-06-19 15:59:56         17               1                    133                    20                3392                        NaN   996088          0           0        5  2014-07-28  2014-07-30                3                  0            2                12206                         6           0    1                2             50           628             24
39        1061524  2014-09-15 21:07:17         37               1                     65                     0               38837                        NaN  1064602          0           1        9  2014-10-23  2014-10-27                2                  0            1                 8739                         1           0    1                6            144             4              2
40       33332931  2014-05-21 10:02:58          2               3                     66                   174               24103                     54.934    61485          0           0        0  2014-05-25  2014-05-26                4                  0            1                25331                         6           0    2                2             50           366             75
41        6086247  2013-06-01 05:54:29          2               3                     66                   348               10388                    178.382   146895          0           0        9  2013-06-11  2013-06-14                1                  0            1                 8267                         1           0    3                2             50           676             55
42       32037550  2014-09-15 13:15:05          2               3                     66                   442               35390                   2550.734  1161448          0           0        9  2014-09-16  2014-09-17                4                  0            4                11814                         1           1    1                4             84          1937             80
43       26882284  2014-10-23 19:09:49         23               1                      1                   341               10541                    376.744   711681          0           1        0  2014-11-08  2014-11-12                2                  0            1                12243                         6           0    1                6            204            27              5
44       23863366  2014-07-10 20:09:52          2               3                     66                   348               53377                   1569.257   325158          0           0        1  2014-08-15  2014-08-17                2                  2            1                 8816                         1           0    3                4            163          1935             77
45       24352556  2014-11-17 12:28:31         35               2                     70                    47               25914                        NaN   944607          0           1        9  2014-12-01  2014-12-02                2                  0            1                20833                         1           0    1                3            182            68             61
46       16069186  2014-08-01 20:43:13          2               3                     66                   311               24671                        NaN   692087          0           1        3  2014-11-17  2014-11-22                1                  0            1                 8797                         1           0    1                6            144          1450             81
47         696957  2013-05-14 16:49:22         11               3                    205                   343               37594                   2734.081  1108350          0           1        9  2013-07-05  2013-07-12                2                  0            1                 8250                         1           0    1                2             50           628             45
48       31953471  2014-12-23 00:08:04          2               3                     66                   174               26232                   8452.633   922965          0           0        1  2015-01-29  2015-02-01                4                  0            1                 8803                         1           0    1                3            151            69             12

In [6]:
#####################explore the data - descriptive statistics#####################
sample.head()
sample['user_location_city'].nunique()
sample.describe()
sample['date_time'].min()
sample['date_time'].max()
sample.info()
sample.describe()
sample.dtypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 25 columns):
Unnamed: 0                   100000 non-null int64
date_time                    100000 non-null object
site_name                    100000 non-null int64
posa_continent               100000 non-null int64
user_location_country        100000 non-null int64
user_location_region         100000 non-null int64
user_location_city           100000 non-null int64
orig_destination_distance    63915 non-null float64
user_id                      100000 non-null int64
is_mobile                    100000 non-null int64
is_package                   100000 non-null int64
channel                      100000 non-null int64
srch_ci                      99878 non-null object
srch_co                      99878 non-null object
srch_adults_cnt              100000 non-null int64
srch_children_cnt            100000 non-null int64
srch_rm_cnt                  100000 non-null int64
srch_destination_id          100000 non-null int64
srch_destination_type_id     100000 non-null int64
is_booking                   100000 non-null int64
cnt                          100000 non-null int64
hotel_continent              100000 non-null int64
hotel_country                100000 non-null int64
hotel_market                 100000 non-null int64
hotel_cluster                100000 non-null int64
dtypes: float64(1), int64(21), object(3)
memory usage: 19.1+ MB

Unnamed: 0                     int64
date_time                     object
site_name                      int64
posa_continent                 int64
user_location_country          int64
user_location_region           int64
user_location_city             int64
orig_destination_distance    float64
user_id                        int64
is_mobile                      int64
is_package                     int64
channel                        int64
srch_ci                       object
srch_co                       object
srch_adults_cnt                int64
srch_children_cnt              int64
srch_rm_cnt                    int64
srch_destination_id            int64
srch_destination_type_id       int64
is_booking                     int64
cnt                            int64
hotel_continent                int64
hotel_country                  int64
hotel_market                   int64
hotel_cluster                  int64
dtype: object

In [7]:
# unique counts
def unique_counts(sample):
   for i in sample.columns:
       count = sample[i].nunique()
       print(i, ": ", count)

In [8]:
pd.crosstab(sample['is_booking'], sample['srch_rm_cnt'])

srch_rm_cnt  0      1     2    3    4    5   6   7   8
is_booking
0            0  84425  6091  975  253  108  61  29  65
1            1   7248   580  102   42    9   6   1   4

In [9]:
sample.groupby('srch_rm_cnt')['is_booking'].mean()

srch_rm_cnt
0   1.000
1   0.079
2   0.087
3   0.095
4   0.142
5   0.077
6   0.090
7   0.033
8   0.058
Name: is_booking, dtype: float64

In [10]:
# correlations
pd.crosstab(sample['is_booking'], sample['srch_rm_cnt'])
sample.groupby('srch_rm_cnt')['is_booking'].mean()
sample['srch_children_cnt'].corr(sample['is_booking'])
sample.corr()

                           Unnamed: 0  site_name  posa_continent  user_location_country  user_location_region  user_location_city  orig_destination_distance  user_id  is_mobile  is_package  channel  srch_adults_cnt  srch_children_cnt  srch_rm_cnt  srch_destination_id  srch_destination_type_id  is_booking    cnt  hotel_continent  hotel_country  hotel_market  hotel_cluster
Unnamed: 0                      1.000      0.005          -0.001                  0.001                 0.001              -0.002                     -0.003    0.010     -0.006      -0.001   -0.000           -0.003              0.000       -0.004                0.001                    -0.004      -0.003 -0.004            0.006          0.003         0.004         -0.006
site_name                       0.005      1.000          -0.638                  0.159                 0.131              -0.013                      0.028    0.030     -0.005       0.049   -0.028           -0.013             -0.032        0.017                0.035                    -0.007      -0.013  0.022            0.202          0.263        -0.068         -0.027
posa_continent                 -0.001     -0.638           1.000                  0.180                -0.035               0.039                      0.050   -0.015      0.016      -0.093    0.090            0.012              0.034       -0.034               -0.016                     0.037       0.013 -0.019           -0.334         -0.157         0.049          0.018
user_location_country           0.001      0.159           0.180                  1.000                 0.058               0.123                      0.048   -0.021      0.004      -0.025    0.110            0.043              0.037        0.001                0.013                     0.029       0.001  0.004           -0.064          0.098         0.016         -0.012
user_location_region            0.001      0.131          -0.035                  0.058                 1.000               0.132                      0.137    0.002      0.017       0.040   -0.002            0.005              0.014        0.000                0.023                     0.001       0.000 -0.008            0.043         -0.050         0.040          0.005
user_location_city             -0.002     -0.013           0.039                  0.123                 0.132               1.000                      0.014   -0.008     -0.004       0.013    0.023            0.007              0.003       -0.001                0.001                    -0.004      -0.003 -0.002            0.008         -0.002         0.009          0.000
orig_destination_distance      -0.003      0.028           0.050                  0.048                 0.137               0.014                      1.000    0.017     -0.059       0.042   -0.000           -0.024             -0.060       -0.012               -0.036                    -0.043      -0.033  0.009            0.416          0.254        -0.090          0.004
user_id                         0.010      0.030          -0.015                 -0.021                 0.002              -0.008                      0.017    1.000     -0.011      -0.019   -0.004           -0.007              0.003       -0.002                0.003                     0.007       0.002  0.001            0.002          0.009        -0.002          0.003
is_mobile                      -0.006     -0.005           0.016                  0.004                 0.017              -0.004                     -0.059   -0.011      1.000       0.047   -0.031            0.017              0.018       -0.023               -0.007                    -0.016      -0.029  0.008           -0.024         -0.030         0.008          0.012
is_package                     -0.001      0.049          -0.093                 -0.025                 0.040               0.013                      0.042   -0.019      0.047       1.000   -0.011           -0.024             -0.038       -0.037               -0.147                    -0.224      -0.081  0.126            0.109         -0.044        -0.015          0.031
channel                        -0.000     -0.028           0.090                  0.110                -0.002               0.023                     -0.000   -0.004     -0.031      -0.011    1.000           -0.015              0.004        0.010               -0.000                     0.022       0.026 -0.010           -0.022         -0.001         0.006          0.003
srch_adults_cnt                -0.003     -0.013           0.012                  0.043                 0.005               0.007                     -0.024   -0.007      0.017      -0.024   -0.015            1.000              0.107        0.526                0.006                    -0.012      -0.046  0.014           -0.019         -0.018         0.010          0.006
srch_children_cnt               0.000     -0.032           0.034                  0.037                 0.014               0.003                     -0.060    0.003      0.018      -0.038    0.004            0.107              1.000        0.092               -0.009                    -0.007      -0.023  0.019           -0.062         -0.046         0.005          0.021
srch_rm_cnt                    -0.004      0.017          -0.034                  0.001                 0.000              -0.001                     -0.012   -0.002     -0.023      -0.037    0.010            0.526              0.092        1.000                0.018                     0.014       0.009 -0.000            0.019          0.011         0.000         -0.012
srch_destination_id             0.001      0.035          -0.016                  0.013                 0.023               0.001                     -0.036    0.003     -0.007      -0.147   -0.000            0.006             -0.009        0.018                1.000                     0.436       0.028 -0.022            0.030          0.054         0.081         -0.010
srch_destination_type_id       -0.004     -0.007           0.037                  0.029                 0.001              -0.004                     -0.043    0.007     -0.016      -0.224    0.022           -0.012             -0.007        0.014                0.436                     1.000       0.037 -0.025           -0.036         -0.022         0.036         -0.033
is_booking                     -0.003     -0.013           0.013                  0.001                 0.000              -0.003                     -0.033    0.002     -0.029      -0.081    0.026           -0.046             -0.023        0.009                0.028                     0.037       1.000 -0.109           -0.026         -0.005         0.013         -0.018
cnt                            -0.004      0.022          -0.019                  0.004                -0.008              -0.002                      0.009    0.001      0.008       0.126   -0.010            0.014              0.019       -0.000               -0.022                    -0.025      -0.109  1.000            0.021          0.001        -0.009         -0.001
hotel_continent                 0.006      0.202          -0.334                 -0.064                 0.043               0.008                      0.416    0.002     -0.024       0.109   -0.022           -0.019             -0.062        0.019                0.030                    -0.036      -0.026  0.021            1.000          0.296        -0.096         -0.016
hotel_country                   0.003      0.263          -0.157                  0.098                -0.050              -0.002                      0.254    0.009     -0.030      -0.044   -0.001           -0.018             -0.046        0.011                0.054                    -0.022      -0.005  0.001            0.296          1.000         0.018         -0.025
hotel_market                    0.004     -0.068           0.049                  0.016                 0.040               0.009                     -0.090   -0.002      0.008      -0.015    0.006            0.010              0.005        0.000                0.081                     0.036       0.013 -0.009           -0.096          0.018         1.000          0.037
hotel_cluster                  -0.006     -0.027           0.018                 -0.012                 0.005               0.000                      0.004    0.003      0.012       0.031    0.003            0.006              0.021       -0.012               -0.010                    -0.033      -0.018 -0.001           -0.016         -0.025         0.037          1.000

In [11]:
# sample.hist()
sample[['channel', 'is_booking', 'is_mobile', 'orig_destination_distance', 'srch_rm_cnt', 'srch_adults_cnt', 'srch_children_cnt']].hist()

array([[<matplotlib.axes._subplots.AxesSubplot object at 0x10206fc88>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x10b50e198>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x1035888d0>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x1035d5a20>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x103615908>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x103663320>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x1038b7c88>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x108317dd8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x10b659ac8>]], dtype=object)

In [12]:
# distribution of number of booking attempts
sample.groupby('user_id')['is_booking']\
   .agg({'num_of_bookings':'count'}).reset_index()\
   .groupby('num_of_bookings')['user_id']\
   .agg('count')

sample = sample.merge(sample.groupby('user_id')['is_booking']
    .agg(['count']).reset_index())

In [13]:
sample.groupby('user_id')['is_booking']\
   .agg(['mean']).reset_index()\
    .groupby('mean')['user_id']\
   .agg('count')

mean
0.000    80991
0.200        5
0.250       35
0.333      153
0.400        1
0.500     1054
0.600        1
0.667       26
0.750        1
1.000     6596
Name: user_id, dtype: int64

In [14]:
# distribution of booking rate
sample.groupby('user_id')['is_booking']\
   .agg(['mean']).reset_index()\
   .groupby('mean')['user_id']\
   .agg('count')

(sample.groupby('user_id')['is_booking']\
   .agg(['mean']).reset_index()\
   .groupby('mean')['user_id']\
   .agg('count').reset_index()).plot(x='mean', y='user_id')

In [15]:
#####################explore the data - validate data##################################

#number of guests need to be > 0
pd.crosstab(sample['srch_adults_cnt'], sample['srch_children_cnt'])
sample.drop(sample[sample['srch_adults_cnt'] + sample['srch_children_cnt']==0].index)

sample['srch_co'] = pd.to_datetime(sample['srch_co'])
sample['srch_ci'] = pd.to_datetime(sample['srch_ci'])
sample['date_time'] = pd.to_datetime(sample['date_time'])
sample['date'] = pd.to_datetime(sample['date_time'].apply(lambda x: x.date()))

In [16]:
# Check-out date need to be later than check-in date;
# Check-in date need to be later than booking date

sample[sample['srch_co'] < sample['srch_ci']][['srch_co', 'srch_ci']]
sample[sample['srch_ci'] < sample['date']][['srch_ci', 'date']]

         srch_ci       date
7138  2014-01-05 2014-01-07
14931 2014-10-13 2014-10-14
18778 2014-06-11 2014-11-10
22722 2014-02-11 2014-10-09
25886 2014-03-10 2014-09-15
26795 2014-09-12 2014-12-02
29591 2014-08-02 2014-08-23
33886 2013-01-16 2013-01-17
33887 2014-03-03 2014-03-04
33888 2013-01-21 2013-01-22
35700 2013-05-17 2013-05-18
35888 2013-09-20 2013-09-21
36022 2014-07-08 2014-07-29
41212 2014-12-01 2014-12-02
45709 2014-04-11 2014-10-26
49744 2014-09-26 2014-09-27
54106 2014-05-31 2014-06-01
57738 2014-05-09 2014-08-22
59543 2014-07-25 2014-07-26
59624 2014-11-02 2014-11-30
85350 2014-12-16 2014-12-17
86119 2014-06-11 2014-06-12
88327 2014-04-01 2014-04-02
91839 2014-03-10 2014-09-11
92433 2014-12-15 2014-12-20

In [17]:
#####################explore the data - create new variables that might be useufl###########
def duration(row):
    delta = (row['srch_co'] - row['srch_ci'])/np.timedelta64(1, 'D')
    if delta <= 0:
        return np.nan
    else:
        return delta

def days_in_advance(row):
    delta = (row['srch_ci'] - row['date'])/np.timedelta64(1, 'D')
    if delta < 0:
        return np.nan
    else:
        return delta

sample['duration'] = sample.apply(duration, axis=1)
sample['days_in_advance'] = sample.apply(days_in_advance, axis=1)

In [18]:
############## Outperforming/underperforming segments #############
cat_list = ['site_name', 'posa_continent',
       'user_location_country', 'user_location_region',
       'user_location_city', 'channel',
       'srch_destination_id', 'srch_destination_type_id',
        'hotel_continent', 'hotel_country', 'hotel_market',
       'hotel_cluster']

In [19]:
# for all columns
for i in cat_list:
    print(sample.groupby(i)['is_booking']
          .agg({'booking_rate': 'mean', 'num_of_bookings': 'sum'})
          .reset_index()
          .sort_values(by='booking_rate'))

    site_name  booking_rate  num_of_bookings
35         44         0.000                0
10         16         0.000                0
29         35         0.025                7
27         33         0.036               17
12         18         0.037               25
1           6         0.037                2
39         48         0.039                2
15         21         0.042                2
30         36         0.042                5
26         32         0.050               12
19         25         0.053               29
37         46         0.055                5
21         27         0.059               16
13         19         0.061                2
3           8         0.061              152
8          14         0.062                9
20         26         0.063               25
17         23         0.064              126
2           7         0.065                5
33         40         0.065                9
18         24         0.066              428
5          10         0.066               17
36         45         0.067                1
22         28         0.067               42
14         20         0.068                3
4           9         0.069                8
11         17         0.071               67
16         22         0.071               24
40         53         0.071                2
9          15         0.073               14
6          11         0.075              524
31         37         0.080              432
24         30         0.081               54
0           2         0.084             5300
32         38         0.087                2
7          13         0.088              162
28         34         0.093              434
23         29         0.097               21
25         31         0.119                5
34         43         0.222                2
38         47         0.250                1
   posa_continent  booking_rate  num_of_bookings
2               2         0.061              572
0               0         0.062               44
4               4         0.066              206
1               1         0.076              902
3               3         0.084             6269
     user_location_country  booking_rate  num_of_bookings
100                    116         0.000                0
122                    144         0.000                0
120                    142         0.000                0
118                    140         0.000                0
116                    136         0.000                0
115                    135         0.000                0
108                    126         0.000                0
107                    125         0.000                0
106                    124         0.000                0
104                    122         0.000                0
102                    118         0.000                0
98                     114         0.000                0
97                     112         0.000                0
96                     111         0.000                0
94                     108         0.000                0
93                     106         0.000                0
88                     100         0.000                0
86                      98         0.000                0
85                      96         0.000                0
79                      89         0.000                0
77                      86         0.000                0
73                      81         0.000                0
70                      78         0.000                0
68                      76         0.000                0
66                      74         0.000                0
65                      73         0.000                0
123                    146         0.000                0
64                      72         0.000                0
124                    147         0.000                0
137                    165         0.000                0
198                    237         0.000                0
197                    236         0.000                0
195                    234         0.000                0
194                    233         0.000                0
187                    224         0.000                0
186                    223         0.000                0
183                    220         0.000                0
182                    219         0.000                0
179                    216         0.000                0
176                    213         0.000                0
175                    212         0.000                0
173                    210         0.000                0
170                    207         0.000                0
166                    200         0.000                0
163                    196         0.000                0
160                    192         0.000                0
157                    189         0.000                0
155                    187         0.000                0
154                    185         0.000                0
153                    184         0.000                0
..                     ...           ...              ...
112                    131         0.091                2
63                      71         0.091               19
83                      93         0.094               21
45                      52         0.095               22
8                       10         0.097                3
22                      27         0.097                3
36                      43         0.100                1
125                    148         0.100                8
47                      55         0.104               38
43                      50         0.110               19
7                        8         0.111                1
10                      12         0.112               33
101                    117         0.118                2
38                      45         0.118                2
192                    230         0.123               19
26                      31         0.125                1
105                    123         0.125                3
133                    157         0.125                1
159                    191         0.129                8
95                     109         0.130                3
55                      63         0.131               33
40                      47         0.133                4
15                      19         0.134               21
84                      95         0.136                3
131                    155         0.143                1
46                      54         0.154                4
156                    188         0.159                7
82                      92         0.167                1
76                      85         0.167               14
140                    168         0.167                6
132                    156         0.167                3
91                     104         0.175                7
71                      79         0.200                1
149                    180         0.200                3
121                    143         0.200                1
164                    197         0.200                2
117                    137         0.200                1
180                    217         0.211                4
127                    150         0.222                2
184                    221         0.231                3
129                    152         0.231                3
29                      35         0.250                1
174                    211         0.250                1
171                    208         0.286                2
48                      56         0.333                1
109                    127         0.333                1
189                    226         0.375                3
20                      25         0.400                2
80                      90         0.500                1
89                     101         1.000                1

[201 rows x 3 columns]
     user_location_region  booking_rate  num_of_bookings
778                  1025         0.000                0
572                   748         0.000                0
576                   752         0.000                0
269                   327         0.000                0
268                   326         0.000                0
582                   762         0.000                0
583                   765         0.000                0
265                   323         0.000                0
586                   771         0.000                0
262                   320         0.000                0
261                   319         0.000                0
588                   775         0.000                0
589                   778         0.000                0
591                   781         0.000                0
592                   782         0.000                0
593                   783         0.000                0
595                   785         0.000                0
597                   787         0.000                0
601                   792         0.000                0
250                   306         0.000                0
569                   741         0.000                0
249                   304         0.000                0
567                   736         0.000                0
285                   345         0.000                0
313                   380         0.000                0
312                   379         0.000                0
310                   377         0.000                0
543                   694         0.000                0
308                   375         0.000                0
307                   374         0.000                0
305                   372         0.000                0
304                   371         0.000                0
548                   700         0.000                0
549                   702         0.000                0
299                   365         0.000                0
551                   706         0.000                0
552                   708         0.000                0
295                   359         0.000                0
294                   358         0.000                0
553                   709         0.000                0
292                   355         0.000                0
555                   714         0.000                0
561                   725         0.000                0
562                   726         0.000                0
314                   381         0.000                0
248                   302         0.000                0
246                   300         0.000                0
619                   814         0.000                0
620                   815         0.000                0
213                   253         0.000                0
..                    ...           ...              ...
132                   152         0.222                2
251                   308         0.222                2
651                   861         0.222                2
550                   705         0.222                2
169                   199         0.222                4
559                   722         0.250                1
690                   907         0.250                1
342                   415         0.250                2
467                   602         0.250                1
680                   894         0.250                3
131                   151         0.250                2
73                     73         0.250                2
716                   938         0.250                1
344                   417         0.250                1
751                   988         0.250                1
728                   953         0.250                1
352                   427         0.250                1
191                   227         0.250                1
517                   663         0.273                3
439                   561         0.286                2
444                   568         0.333                1
326                   397         0.333                1
231                   278         0.333                1
634                   831         0.333                1
388                   470         0.333                1
347                   420         0.333                1
769                  1008         0.333                1
376                   454         0.333                2
152                   175         0.333                1
669                   882         0.333                1
399                   484         0.333                1
220                   262         0.400                2
694                   911         0.400                2
671                   884         0.400                2
502                   645         0.400                2
336                   409         0.429                3
662                   875         0.500                2
353                   428         0.500                1
384                   465         0.500                1
96                     99         0.500                1
731                   956         0.500                1
774                  1015         1.000                1
121                   139         1.000                1
558                   721         1.000                1
414                   528         1.000                1
391                   475         1.000                2
689                   906         1.000                1
363                   438         1.000                1
435                   557         1.000                1
677                   891         1.000                2

[779 rows x 3 columns]
       user_location_city  booking_rate  num_of_bookings
0                       0           0.0                0
6689                35193           0.0                0
6688                35191           0.0                0
6687                35189           0.0                0
6686                35182           0.0                0
6685                35171           0.0                0
6684                35168           0.0                0
6683                35167           0.0                0
6682                35161           0.0                0
6681                35157           0.0                0
6680                35156           0.0                0
6679                35153           0.0                0
6678                35142           0.0                0
6677                35131           0.0                0
6676                35122           0.0                0
6673                35093           0.0                0
6671                35073           0.0                0
6670                35062           0.0                0
6651                34992           0.0                0
6652                34993           0.0                0
6654                34998           0.0                0
6657                35002           0.0                0
6658                35003           0.0                0
6659                35010           0.0                0
6690                35198           0.0                0
6661                35014           0.0                0
6664                35023           0.0                0
6665                35024           0.0                0
6666                35030           0.0                0
6667                35032           0.0                0
6668                35038           0.0                0
6669                35048           0.0                0
6663                35018           0.0                0
6691                35199           0.0                0
6692                35200           0.0                0
6693                35210           0.0                0
6717                35334           0.0                0
6718                35347           0.0                0
6719                35351           0.0                0
6720                35365           0.0                0
6721                35369           0.0                0
6722                35372           0.0                0
6716                35332           0.0                0
6726                35413           0.0                0
6728                35423           0.0                0
6729                35436           0.0                0
6730                35446           0.0                0
6731                35448           0.0                0
6733                35462           0.0                0
6734                35464           0.0                0
...                   ...           ...              ...
5544                29243           1.0                2
2825                14846           1.0                1
2847                14973           1.0                1
9667                50982           1.0                1
6930                36569           1.0                1
6916                36490           1.0                1
6914                36483           1.0                1
9727                51271           1.0                1
6885                36282           1.0                1
6883                36280           1.0                1
9741                51351           1.0                1
6859                36100           1.0                1
5572                29411           1.0                1
6840                35983           1.0                1
3865                20307           1.0                1
6832                35958           1.0                1
765                  4061           1.0                1
6926                36532           1.0                1
7069                37365           1.0                1
831                  4502           1.0                1
295                  1709           1.0                1
7302                38524           1.0                1
7285                38446           1.0                1
2613                13710           1.0                1
5392                28537           1.0                1
9590                50548           1.0                1
7239                38242           1.0                1
7225                38150           1.0                1
7184                37966           1.0                1
9624                50715           1.0                1
7174                37906           1.0                1
2709                14182           1.0                1
852                  4601           1.0                1
2714                14200           1.0                1
5448                28754           1.0                1
5451                28769           1.0                1
2723                14253           1.0                1
10421               54723           1.0                1
7102                37595           1.0                1
3946                20817           1.0                1
9651                50894           1.0                1
839                  4532           1.0                1
10416               54698           1.0                1
7097                37561           1.0                1
10413               54690           1.0                1
9659                50944           1.0                1
5488                28921           1.0                1
5491                28943           1.0                1
2320                12314           1.0                1
1415                 7602           1.0                1

[10779 rows x 3 columns]
    channel  booking_rate  num_of_bookings
7         7         0.043               35
8         8         0.055               15
3         3         0.060              266

In [20]:
stats.norm.cdf(1.2815515655446004)

0.89999999999999991

In [21]:
stats.norm.ppf(0.9)

1.2815515655446004

In [22]:
############## Outperforming/underperforming segments - two sample t test #############
def stats_comparison(i):
    sample.groupby(i)['is_booking'].agg({
    'average': 'mean',
    'bookings': 'count'
    }).reset_index()
    cat = sample.groupby(i)['is_booking']\
        .agg({
            'sub_average': 'mean',
            'sub_bookings': 'count'
       }).reset_index()
    cat['overall_average'] = sample['is_booking'].mean()
    cat['overall_bookings'] = sample['is_booking'].count()
    cat['rest_bookings'] = cat['overall_bookings'] - cat['sub_bookings']
    cat['rest_average'] = (cat['overall_bookings']*cat['overall_average'] \
                     - cat['sub_bookings']*cat['sub_average'])/cat['rest_bookings']
    cat['z_score'] = (cat['sub_average']-cat['rest_average'])/\
        np.sqrt(cat['overall_average']*(1-cat['overall_average'])
            *(1/cat['sub_bookings']+1/cat['rest_bookings']))
    cat['prob'] = np.around(stats.norm.cdf(cat.z_score), decimals = 10)
    cat['significant'] = [(lambda x: 1 if x > 0.9 else -1 if x < 0.1 else 0)(i) for i in cat['prob']]
    print(cat)

stats_comparison('user_location_city')

       user_location_city  sub_bookings  sub_average  overall_average  overall_bookings  rest_bookings  rest_average  z_score  prob  significant
0                       0             4        0.000             0.08            100000          99996          0.08   -0.589 0.278            0
1                       1             2        0.000             0.08            100000          99998          0.08   -0.417 0.338            0
2                       3            17        0.235             0.08            100000          99983          0.08    2.362 0.991            1
3                       7             1        0.000             0.08            100000          99999          0.08   -0.295 0.384            0
4                       8             1        0.000             0.08            100000          99999          0.08   -0.295 0.384            0
5                      14             4        0.000             0.08            100000          99996          0.08   -0.589 0.278            0
6                      15             1        0.000             0.08            100000          99999          0.08   -0.295 0.384            0
7                      18             1        1.000             0.08            100000          99999          0.08    3.393 1.000            1
8                      21             2        0.000             0.08            100000          99998          0.08   -0.417 0.338            0
9                      22             1        0.000             0.08            100000          99999          0.08   -0.295 0.384            0
10                     26             1        0.000             0.08            100000          99999          0.08   -0.295 0.384            0
11                     32             5        0.000             0.08            100000          99995          0.08   -0.659 0.255            0
12                     40            12        0.083             0.08            100000          99988          0.08    0.043 0.517            0
13                     41             1        0.000             0.08            100000          99999          0.08   -0.295 0.384            0
14                     45             5        0.400             0.08            100000          99995          0.08    2.639 0.996            1
15                     50            15        0.133             0.08            100000          99985          0.08    0.763 0.777            0
16                     53             8        0.125             0.08            100000          99992          0.08    0.470 0.681            0
17                     69             3        0.000             0.08            100000          99997          0.08   -0.511 0.305            0
18                     70             6        0.000             0.08            100000          99994          0.08   -0.722 0.235            0
19                     75             1        0.000             0.08            100000          99999          0.08   -0.295 0.384            0
20                     76           326        0.092             0.08            100000          99674          0.08    0.807 0.790            0
21                     78             4        0.000             0.08            100000          99996          0.08   -0.589 0.278            0
22                     80             1        0.000             0.08            100000          99999          0.08   -0.295 0.384            0
23                     94            11        0.000             0.08            100000          99989          0.08   -0.978 0.164            0
24                     97             1        0.000             0.08            100000          99999          0.08   -0.295 0.384            0
25                     99             1        0.000             0.08            100000          99999          0.08   -0.295 0.384            0
26                    113            12        0.083             0.08            100000          99988          0.08    0.043 0.517            0
27                    120            28        0.071             0.08            100000          99972          0.08   -0.166 0.434            0
28                    130             7        0.143             0.08            100000          99993          0.08    0.614 0.730            0
29                    136            37        0.108             0.08            100000          99963          0.08    0.632 0.736            0
30                    146             6        0.167             0.08            100000          99994          0.08    0.783 0.783            0
31                    151            16        0.188             0.08            100000          99984          0.08    1.587 0.944            1
32                    152             6        0.167             0.08            100000          99994          0.08    0.783 0.783            0
33                    157             1        0.000             0.08            100000          99999          0.08   -0.295 0.384            0
34                    159             3        0.000             0.08            100000          99997          0.08   -0.511 0.305            0
35                    165             2        0.000             0.08            100000          99998          0.08   -0.417 0.338            0
36                    176             2        0.000             0.08            100000          99998          0.08   -0.417 0.338            0
37                    181             1        0.000             0.08            100000          99999          0.08   -0.295 0.384            0
38                    182             3        0.000             0.08            100000          99997          0.08   -0.511 0.305            0
39                    190            11        0.091             0.08            100000          99989          0.08    0.134 0.553            0
40                    207             5        0.000             0.08            100000          99995          0.08   -0.659 0.255            0
41                    210             1        0.000             0.08            100000          99999          0.08   -0.295 0.384            0
42                    217             6        0.000             0.08            100000          99994          0.08   -0.722 0.235            0
43                    221            17        0.059             0.08            100000          99983          0.08   -0.321 0.374            0
44                    226             2        0.500             0.08            100000          99998          0.08    2.191 0.986            1
45                    232             1        0.000             0.08            100000          99999          0.08   -0.295 0.384            0
46                    233             1        0.000             0.08            100000          99999          0.08   -0.295 0.384            0
47                    236             2        0.000             0.08            100000          99998          0.08   -0.417 0.338            0
48                    240             2        0.000             0.08            100000          99998          0.08   -0.417 0.338            0
49                    244            14        0.286             0.08            100000          99986          0.08    2.839 0.998            1
...                   ...           ...          ...              ...               ...            ...           ...      ...   ...          ...
10729               56314             4        0.000             0.08            100000          99996          0.08   -0.589 0.278            0
10730               56315             1        0.000             0.08            100000          99999          0.08   -0.295 0.384            0
10731               56316             1        0.000             0.08            100000          99999          0.08   -0.295 0.384            0
10732               56318             1        0.000             0.08            100000          99999          0.08   -0.295 0.384            0
10733               56322             6        0.167             0.08            100000          99994          0.08    0.783 0.783            0
10734               56329             1        0.000             0.08            100000          99999          0.08   -0.295 0.384            0
10735               56336             2        0.000             0.08            100000          99998          0.08   -0.417 0.338            0
10736               56341             8        0.000             0.08            100000          99992          0.08   -0.834 0.202            0
10737               56342             1        0.000             0.08            100000          99999          0.08   -0.295 0.384            0
10738               56343             1        0.000             0.08            100000          99999          0.08   -0.295 0.384            0
10739               56344             5        0.000             0.08            100000          99995          0.08   -0.659 0.255            0
10740               56347             1        0.000             0.08            100000          99999          0.08   -0.295 0.384            0
10741               56348             1        0.000             0.08            100000          99999          0.08   -0.295 0.384            0
10742               56350             3        0.000             0.08            100000          99997          0.08   -0.511 0.305            0
10743               56356             1        0.000             0.08            100000          99999          0.08   -0.295 0.384            0
10744               56365             5        0.000             0.08            100000          99995          0.08   -0.659 0.255            0
10745               56371             1        0.000             0.08            100000          99999          0.08   -0.295 0.384            0
10746               56384             1        0.000             0.08            100000          99999          0.08   -0.295 0.384            0
10747               56386             3        0.000             0.08            100000          99997          0.08   -0.511 0.305            0
10748               56392            26        0.000             0.08            100000          99974          0.08   -1.503 0.066           -1
10749               56394             2        0.000             0.08            100000          99998          0.08   -0.417 0.338            0
10750               56399            34        0.088             0.08            100000          99966          0.08    0.179 0.571            0
10751               56402            13        0.077             0.08            100000          99987          0.08   -0.040 0.484            0
10752               56407             3        0.000             0.08            100000          99997          0.08   -0.511 0.305            0
10753               56412             4        0.000             0.08            100000          99996          0.08   -0.589 0.278            0
10754               56413             3        0.000             0.08            100000          99997          0.08   -0.511 0.305            0
10755               56414             2        0.000             0.08            100000          99998          0.08   -0.417 0.338            0
10756               56423             1        0.000             0.08            100000          99999          0.08   -0.295 0.384            0
10757               56430             1        0.000             0.08            100000          99999          0.08   -0.295 0.384            0
10758               56432             2        0.000             0.08            100000          99998          0.08   -0.417 0.338            0
10759               56434             1        0.000             0.08            100000          99999          0.08   -0.295 0.384            0
10760               56436            27        0.148             0.08            100000          99973          0.08    1.307 0.904            1
10761               56440           255        0.086             0.08            100000          99745          0.08    0.374 0.646            0
10762               56441             1        0.000             0.08            100000          99999          0.08   -0.295 0.384            0
10763               56445             2        0.000             0.08            100000          99998          0.08   -0.417 0.338            0
10764               56446             8        0.250             0.08            100000          99992          0.08    1.774 0.962            1
10765               56447             2        0.000             0.08            100000          99998          0.08   -0.417 0.338            0
10766               56451             3        0.000             0.08            100000          99997          0.08   -0.511 0.305            0
10767               56458             1        0.000             0.08            100000          99999          0.08   -0.295 0.384            0
10768               56472            15        0.067             0.08            100000          99985          0.08   -0.189 0.425            0
10769               56475            10        0.100             0.08            100000          99990          0.08    0.234 0.593            0
10770               56481             1        0.000             0.08            100000          99999          0.08   -0.295 0.384            0
10771               56488             2        0.000             0.08            100000          99998          0.08   -0.417 0.338            0
10772               56492            11        0.000             0.08            100000          99989          0.08   -0.978 0.164            0
10773               56494             2        0.000             0.08            100000          99998          0.08   -0.417 0.338            0
10774               56497             4        0.000             0.08            100000          99996          0.08   -0.589 0.278            0
10775               56498             2        0.000             0.08            100000          99998          0.08   -0.417 0.338            0
10776               56505             1        0.000             0.08            100000          99999          0.08   -0.295 0.384            0
10777               56506             1        0.000             0.08            100000          99999          0.08   -0.295 0.384            0
10778               56507            19        0.000             0.08            100000          99981          0.08   -1.285 0.099           -1

[10779 rows x 10 columns]

In [23]:
############## clustering - what are the similar user cities? ##############

# Step 1: what are the features I am going to use (that make sense)?
# What features may distinguish cities? based on business sense and exploratory analysis

num_list = ['duration', 'days_in_advance', 'orig_destination_distance', 'is_mobile',
            'is_package', 'srch_adults_cnt', 'srch_children_cnt', 'srch_rm_cnt']
city_data = sample.dropna(axis=0)[num_list + ['user_location_city']]
city_groups = city_data.groupby('user_location_city').mean().reset_index().dropna(axis=0)

In [24]:
# Step 2: shall I standardise the data?
# What is the magnitude of data range?

city_groups_std = city_groups.copy()
for i in num_list:
    city_groups_std[i] = preprocessing.scale(city_groups_std[i])

In [ ]:
# Step 3: select clustering method and number of clusters
# The Elbow methods? choose a K so that the sum of the square error of the distances decrease drastically
# using an ad-hoc k=3 here, there are methods to help derive the optimal number for k

km = cluster.KMeans(n_clusters=3, max_iter=300, random_state=None)
city_groups_std['cluster'] = km.fit_predict(city_groups_std[num_list])

# Principal Component Analysis
pca = decomposition.PCA(n_components=2, whiten=True)
pca.fit(city_groups[num_list])
city_groups_std['x'] = pca.fit_transform(city_groups_std[num_list])[:, 0]
city_groups_std['y'] = pca.fit_transform(city_groups_std[num_list])[:, 1]
plt.scatter(city_groups_std['x'], city_groups_std['y'], c=city_groups_std['cluster'])
plt.show()

In [25]:
# Step 4: profile the clusters
# merging the two dataframes based on a common column user_location_city
city_groups.merge(city_groups_std[['user_location_city', 'cluster']])\
    .groupby('cluster')\
    .mean() # for every column

KeyError: "['cluster'] not in index"

In [ ]:
# Step 5: assess the statistical robustness
# A statistically robust segmentation return similar results using different clustering methodologies

In [ ]:
############### decision tree - what lead to a higher chance of booking for individuals? ###############
from sklearn.cross_validation import train_test_split

In [26]:
# choose a cluster and split them into test and train
sample = sample.merge(city_groups_std[['user_location_city', 'cluster']], left_on='user_location_city', right_on='user_location_city', how='outer')
sample.groupby('cluster')['is_booking'].count()

KeyError: "['cluster'] not in index"

In [24]:
# choose one of the city clusters to analyze
tree_data = sample.dropna(axis = 0)[sample['cluster']==2]
tree_train, tree_test = train_test_split(tree_data, test_size=0.2, random_state=1, stratify=tree_data['is_booking'])

C:\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  from ipykernel import kernelapp as app

In [25]:
# build the decision tree model
clf = tree.DecisionTreeClassifier(max_leaf_nodes=6, min_samples_leaf=200)
clf = clf.fit(tree_train[num_list], tree_train['is_booking'])

In [26]:
# test_preds = clf.predict(X = tree_test[num_list])
# clf.predict_proba(tree_test[num_list])

In [27]:
# scoring of the prediction model
clf.score(tree_test[num_list], tree_test['is_booking'])

0.93627450980392157

In [28]:
# visualize the decision tree
dot_data = StringIO()
tree.export_graphviz(clf, out_file=dot_data, feature_names =['duration', 'days_in_advance', 'orig_destination_distance', 'is_mobile',
            'is_package', 'srch_adults_cnt', 'srch_children_cnt', 'srch_rm_cnt'], filled=True, rounded=True)
graph = pydot.graph_from_dot_data(dot_data.getvalue())
graph.write_pdf("booking_tree.pdf")

AttributeError: 'list' object has no attribute 'write_pdf'

In [ ]:
############### Logistic regression - what lead to a higher chance of booking for individuals? ###############
#create dummy variable channel
sample['channel'].value_counts()
sample['new_channel'] = [i if i in [9, 0, 1, 2] else 'other' for i in sample['channel']]
dummy_channels = pd.get_dummies(sample['new_channel'], prefix='channel')
sample = sample.join(dummy_channels.ix[:, :])
sample['log_orig_destination_distance'] = [np.log(i) for i in sample['orig_destination_distance']]

var_list = ['duration', 'days_in_advance', 'log_orig_destination_distance', 'is_mobile',
            'is_package', 'srch_adults_cnt', 'srch_children_cnt', 'srch_rm_cnt', 'channel_1',
            'channel_2', 'channel_9', 'channel_other']

# create logistic estimator
logit = sm.Logit(sample['is_booking'], sample[var_list], missing='drop')
result = logit.fit()
result.summary()

# convert logit to odds ratio
np.exp(result.params)
params = result.params
conf = result.conf_int()
conf['OR'] = params
conf.columns = ['2.5%', '97.5%', 'OR']
np.exp(conf)

# predicted values
sample['pred'] = result.predict(sample[var_list])

# plot variable VS. marketing_channel
sample.groupby('channel')['is_booking'].mean()

def plot_vs_marketing_channel(variable):
    grouped = pd.pivot_table(sample[(sample['pred'].isnull() == False)], values = ['pred'], index=[variable, 'new_channel'], aggfunc=np.mean)
    colors = 'rbgyrbgy'
    for col in sample.new_channel.unique():
        plt_data = grouped.ix[grouped.index.get_level_values(1)==col]
        pl.plot(plt_data.index.get_level_values(0), plt_data['pred'])
    pl.xlabel(variable)
    pl.ylabel('prob booking = 1')
    pl.legend(['channel_'+str(i) for i in list(sample.new_channel.unique())], loc='upper right', title='new channel')
    # pl.show()
plot_vs_marketing_channel('days_in_advance')